notebook tabs tab {
    filter: grayscale(70%);
}

notebook tabs tab:checked {
    filter: grayscale(0);
}

.log .count {
    padding-left: 5px;
    padding-right: 5px;
}

.log list row label {
    font-size: 20px;
}

.log list row, .log label, .log count {
    border-radius: 3px;
}

expander {
    font-size: 30px;
}

arrow {
    min-width: 32px;
    min-height: 32px;
}

treeview, .task {
    font-size: 20px;
}

.finished label {
    text-decoration: line-through;
}

.date {
    font-size: 15px;
}

.date .threshold {
    color: gray;
}

.date .due {
    background-color: #FFC933;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

.date .due.past {
    background-color: #F26177;
}
