@import url("style.css");

.pri_a {
    background-color: #E64759;
}

.pri_b {
    background-color: #D7B231;
}

.pri_c {
    background-color: #1997C6;
}

.pri_d {
    background-color: #1BC98E;
}

.pri_e {
    background-color: #434857;
}
