@import url("style.css");

.pri_a, .error {
    background-color: #F8D7DA;
}

.pri_b, .warn {
    background-color: #FFF3CD;
}

.pri_c {
    background-color: #D1ECF1;
}

.pri_d, .info {
    background-color: #D4EDDA;
}

.pri_e {
    background-color: #E7E8EA;
}
