@import url("style.css");

.pri_a, .error {
    background-color: #E64759;
}

.pri_b, .warn {
    background-color: #FF9400;
}

.pri_c {
    background-color: #1997C6;
}

.pri_d, .info {
    background-color: #1BC98E;
}

.pri_e {
    background-color: #434857;
}
