calendar *:active {
    color: #3C92CA;
}

expander {
    font-size: 30px;
}

arrow {
    min-width: 32px;
    min-height: 32px;
}

treeview, .task {
    font-size: 20px;
}

.finished label {
    text-decoration: line-through;
}
